<launch>
    <arg name="map_file" default="$(find lab2)/maps/sandbox.yaml" />
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
</launch>


<!-- scp path_to_file nvidia@172.16.77.carnumber:~/catkin_ws/src/lab2/scripts/ -->
<!-- <node pkg="map_server" name="map_server" type="map_server" args="$(find lab2)/maps/cse022_demo.yaml"/> -->
